{% extends 'base.html.twig' %}

{% block title %}mes adresse - shop-symfony!{% endblock %}
{% block content %}
<a href="{{path('account_adress_add')}}" class="btn btn-primary btn-info btn-sm float-right"> ajouter une adresse</a>
<h1>Mes adresses</h1>
c'est dans cette espace que vous pourrez gerer toutes votres adresse <br>
<a href="{{path('account')}}">retour</a>
<h1>mes adresse</h1> <br>
vue de mes adresses
{% if app.user.adresses |length == 0 %}
    Vous n'avez pas d'adresse sur votre compte <br>
    pour en ajouter une  <a href="" > cliquez-ici</a>
    {% else %}
    <div class="row">
    {% for adress in app.user.adresses %}
       <div class="col-md-4">
        <div class="card">
            <div class="card-body">
                 <h5 class="card-title">{{adress.name}}</h5>
                 <p class="card-text">{{adress.adress}}
                     <br>
                     {{adress.postal}}-{{adress.city}}

                 </p>
                 <a href="{{path('account_adress_edit',{id : adress.id})}}" class="btn btn-primary">modifier</a> | <a href="{{path('account_adress_delete',{id : adress.id})}}" class="btn btn-primary">supprimer</a>
            </div>
        </div>
       </div>
    {% endfor %}
</div>
{% endif %}
{% endblock %}



